# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Virtual Environment
q_env/

# Ignore Logs and Temporary Files
*.log
*.tmp

# Ignore IDE and Editor Files
.vscode/
.idea/
*.swp

# Ignore System Files (macOS, Windows)
.DS_Store
Thumbs.db

# Prevent `.gitignore` from being ignored
!.gitignore
